<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>{GIT_URL}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sed -i &apos;s/{jenkins-project}/todo-weakly/&apos; docker-compose.yml
sed -i &apos;s/{password}/SOME_PASSWORD/&apos; docker-compose.yml
sed -i &apos;s/{pwc-password}/SOME_PASSWORD/&apos; docker-compose.yml
sed -i &apos;s/{hp9-password}/1qaz2wsx/&apos; docker-compose.yml
sed -i &apos;s/{api-key}/SOME_KEY/&apos; docker-compose.yml
sed -i &apos;s/{api-secret}/SOME_SECRET/&apos; docker-compose.yml
sed -i &apos;s/{version}/latest/&apos; docker-compose.yml
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker-compose run compile</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker-compose run test deep</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker-compose run scan</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker-compose run package</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker-compose run deploy</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>

    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/*.jar, target/*.war</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>

    <org.jenkinsci.plugins.fod.FodBuilder plugin="fortify-on-demand-uploader@1.10">
      <assessmentTypeId>170</assessmentTypeId>
      <applicationName>test </applicationName>
      <releaseName>us-tda-poc</releaseName>
      <technologyStack>JAVA/J2EE</technologyStack>
      <languageLevel>1.8</languageLevel>
      <runOpenSourceAnalysis>true</runOpenSourceAnalysis>
      <isExpressScan>true</isExpressScan>
      <isExpressAudit>false</isExpressAudit>
      <doPollFortify>false</doPollFortify>
      <doPrettyLogOutput>false</doPrettyLogOutput>
      <includeAllFiles>false</includeAllFiles>
      <includeThirdParty>false</includeThirdParty>
    </org.jenkinsci.plugins.fod.FodBuilder>

    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.15">
      <testResults>Publish Unit test Results: target/surefire-reports/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>

    <hudson.plugins.jacoco.JacocoPublisher plugin="jacoco@2.0.1">
      <execPattern>**/**.exec</execPattern>
      <classPattern>**/classes</classPattern>
      <sourcePattern>**/src/main/java</sourcePattern>
      <inclusionPattern></inclusionPattern>
      <exclusionPattern></exclusionPattern>
      <minimumInstructionCoverage>0</minimumInstructionCoverage>
      <minimumBranchCoverage>0</minimumBranchCoverage>
      <minimumComplexityCoverage>0</minimumComplexityCoverage>
      <minimumLineCoverage>0</minimumLineCoverage>
      <minimumMethodCoverage>0</minimumMethodCoverage>
      <minimumClassCoverage>0</minimumClassCoverage>
      <maximumInstructionCoverage>0</maximumInstructionCoverage>
      <maximumBranchCoverage>0</maximumBranchCoverage>
      <maximumComplexityCoverage>0</maximumComplexityCoverage>
      <maximumLineCoverage>0</maximumLineCoverage>
      <maximumMethodCoverage>0</maximumMethodCoverage>
      <maximumClassCoverage>0</maximumClassCoverage>
      <changeBuildStatus>false</changeBuildStatus>
    </hudson.plugins.jacoco.JacocoPublisher>
  </publishers>
  <buildWrappers/>
</project>
